@model IEnumerable<NewPieShop.Models.Pie>

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Pie Shop</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="each-pie">
                    <p>
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </p>
                    <img class="responsive" src="~/img/@Html.DisplayFor(modelItem => item.ThumbnailUrl)" alt="tasty pie" />
                    <p>
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
            </a>
        </div>
    }
</div>
