@model IEnumerable<NewPieShop.Models.Pie>

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Pie Shop</h2>

<div class="container">
    <div class=" pie-list">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="each-pie">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Name)
                    </h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </p>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.ThumbnailUrl)" alt="tasty pie" />
                    <p>
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
            </a>
        }
    </div>
</div>
